{% extends "base.html" %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="h3">{{ clubitem.club_name }}</div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div>目前人數：{{ clubitem.now_num }}<br>上限人數：{{ clubitem.max_num }}</div>
    </div>
  </div>
  <div class="card-footer card-text d-flex justify-content-between text-muted">
    <small title="報修人"><i class="fas fa-user"></i> {{ clubitem.director }} <i class="fas fa-user"></i> {{ clubitem.advisor }}</small>
  </div>
</div>
{% endblock %}