{% extends 'base.html' %}

{% block content %}
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>申請人</th>
      <th>年級</th>
      <th>班級</th>
      <th>原社團</th>
      <th>新社團</th>
      <th>原社長是否同意</th>
      <th>原指導老師是否同意</th>
      <th>新社長是否同意</th>
      <th>新指導老師是否同意</th>
      <th>是否通過轉社</th>
      <th>備註</th>
    </tr>
  </thead>
  <tbody>
    {% for item in formitem_list %}
    <tr>
      <td>
      <a href="{{ item.id }}">{{ item.stu_name }}</a>
      </td>
      <td>{{ item.get_stu_grade_display }}</td>
      <td>{{ item.get_stu_class_display }}</td>
      <td>{{ item.get_ori_club_display }}</td>
      <td>{{ item.get_new_club_display }}</td>
      <td>{{ item.get_Yes_or_No_od_display }}</td>
      <td>{{ item.get_Yes_or_No_ot_display }}</td>
      <td>{{ item.get_Yes_or_No_nd_display }}</td>
      <td>{{ item.get_Yes_or_No_nt_display }}</td>
      <td>{{ item.get_Yes_or_No_final_display }}</td>
      <td>{{ item.note }}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}